<div class="modal-header">
    <h3 class="modal-title">Log Time on Task</h3>
</div>

<div class="modal-body media-left center-block">
    Task Name
    <form class="form-inline col-md-12 css-form" name="timeLogForm">
        <fieldset>
            <label>Who</label>
            <input type="text" required placeholder="Input name" ng-model="hobbit.Name" class="form-group form-control" />

            <label>Age</label>
            <input type="number" required placeholder="Input age" ng-model="hobbit.Age" class="form-group form-control" />

            <label>Photo</label><br />
            <!--Radio buttons to switching between link and file attachment-->
            <input type="radio" ng-value="true" ng-model="link" /> Link
            <input type="radio" ng-value="false" ng-model="link" /> File

            <!--Input type "file"-->
            <input type="file" ng-class="{'ng-invalid ng-touched':hobbit.PhotoFile==undefined && submited}" ng-show="!link" placeholder="Select the file" accept="image/jpeg,image/png" fileread="hobbit.PhotoFile" class="form-group form-control" />
            <!--Link textBox-->
            <input type="text" ng-class="{'ng-touched':submited}" ng-required="link" ng-show="link" placeholder="Paste the link" ng-model="hobbit.Photo" class="form-group form-control" />

            <label>Weapon</label>
            <select required ng-model="hobbit.WeaponId" class="form-group form-control">
                <option value="" disabled>Select the weapon</option>
                <option ng-repeat="weapon in weapons" value="{{weapon.Id}}">{{weapon.Name}}</option>
            </select>

            <label>Password</label>
            <input type="password" placeholder="Input password" ng-model="hobbit.Password" class="form-group form-control" />
            <label>Confirm password</label>
            <input type="password" placeholder="Confirm password" compare-to="hobbit.Password" ng-model="ConfirmPassword" class="form-group form-control" />
            <label>Input info</label>
            <textarea ng-model="hobbit.Info" class="form-group form-control"></textarea>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
    <button class="btn btn-primary" type="button" ng-click="save(hobbitForm);submited=true">OK</button>
</div>